.backgroundContainer {
  position: relative;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
  opacity: 0.05;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(3, 7, 26, 0.5);
}

.container {
  margin: 0;
  padding: 2rem 20%;
  box-sizing: border-box;
  position: relative;
}

.welcome {
  font-family: "Share Tech Mono", monospace;
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 10rem;
  color: rgb(178, 224, 224);
}

.name {
  font-family: "Share Tech Mono", monospace;
  font-size: 5rem;
  font-weight: 600;
  color: rgb(138, 43, 226);
}

.textOne {
  font-family: "Share Tech Mono", monospace;
  margin-top: 1.2rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
}

.textQuote {
  font-family: Source Code Pro, monospace;
  max-width: 700px;
  margin: 0 auto;
  color: rgba(138, 247, 234, 0.5);
  font-size: 1.75rem;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .textOne {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 530px) {
  .name {
    font-size: 4rem;
  }
  .textOne {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 430px) {
  .name {
    font-size: 3rem;
  }
}
