* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00a1ff;
  --border-right: 6px;
  --text-stroke-color: lightblue;
  --animation-color: rgb(138, 43, 226);
  --fs-size: 2em;
}

body {
  font-family: "Open sans", sans-serif;
  background-color: rgb(3, 7, 26);
  color: #fff;
}

.page {
  width: 100%;
  min-height: calc(100vh - 180px);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  padding: 20px 0;
  text-align: center;
}
